<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agam Interior's || Admin Contact's data set</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/image/favicon.jpeg') }}" type="image/x-icon" />
  </head>
  <body>
    <h1>Contact List</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
          <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.number }}</td>
            <td>{{ contact.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
