<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agam Interior's || Admin database Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='/image/favicon.jpeg') }}" type="image/x-icon" />
</head>
<body>
    <nav class="topNav">
        <ul>
            <li><a href="/contactDataSet">Contact</a></li>
            <li><a href="/paymentDataSet">Product Payment</a></li>
            <li><a href="/freeEstimate">Free Estimate</a></li>
        </ul>
    </nav>
</body>
</html>